.ct-main {
    display: flex;
}

.ct-left {
    width: 65%;
    padding-right: 7.5px;
}

.ct-right {
    width: 35%;
    padding-left: 7.5px;
}

.ct-disclaimer {
    font-family: 'Ubuntu', 'sans serif';
    font-size: 0.7rem;
    font-weight: 300;
    color: rgb(150,150,150);
}

hr {
    border: none;
    height: 12.5px;
}

section#welkom {
    margin-bottom: 10px;
}

section#over {
    margin-bottom: 25px;
}

section#dag-1, section#dag-2, section#dag-3, section#dag-4, section#dag-5, section#dag-6, section#dag-7, section#dag-8, section#dag-9, section#dag-10, section#dag-11, section#dag-12 {
    margin-bottom: 25px;
}

section#gallery-laptop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}

section#gallery-laptop img {
    width: 32.5%;
}

section#gallery-mobile {
    display: none;
    width: 100%;
}

section#gallery-mobile {
    width: 100%;
}

section#reis {
    margin-bottom: 25px;
}

.price-box {
    border: 3.5px solid rgb(45,46,131);
    padding: 12.5px;
    border-radius: 12.5px;
    font-size: 0.975rem;
    margin-bottom: 20px;
}

.price-box hr {
    margin-top: 12.5px;
    margin-bottom: 10px;
    border: 2.5px solid rgb(45,46,131);
    height: 0px;
}

.price-box b {
    font-family: 'Ubuntu', 'sans serif';
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(45,46,131);
}

.price-box section#price {
    font-size: 1.075rem;
    text-align: center;
}

.price-box section#price b {
    font-family: 'Exo 2', 'sans serif';
    font-size: 3rem;
    font-weight: 700;
    color: rgb(45,46,131);
    text-transform: none;
}

.price-box .button-book {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 7.5px;
    background-color: rgb(45,46,131);
    text-align: center;
    transition: 0.25s ease-in-out;
}

.price-box .button-book:hover {
    background-color: rgb(138,203,193);
}

.price-box .button-book a {
    font-family: 'Exo 2', 'sans serif';
    font-size: 1.15rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255,255,255);
    transition: 0.25s ease-in-out;
}

.price-box .button-book:hover a {
    color: rgb(0,0,0);
}

.info-box {
    border: 3.5px solid rgb(138,203,193);
    padding: 12.5px;
    border-radius: 12.5px;
    font-size: 0.975rem;
}

.info-box hr {
    margin-top: 12.5px;
    margin-bottom: 10px;
    border: 2.5px solid rgb(138,203,193);
    height: 0px;
}

.info-box b {
    font-family: 'Ubuntu', 'sans serif';
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(138,203,193);
}


@media screen and (max-width:768px) {
    .ct-main {
        flex-direction: column;
    }

    .ct-left, .ct-right {
        width: 100%;
        padding: 0;
    }

    section#gallery-laptop {
        display: none;
    }

    section#gallery-mobile {
        display: unset;
    }

    section#reis {
        margin-top: 25px;
    }

    .info-box {
        margin-bottom: 25px;
    }
}