/* THIN (100) */
@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}


/* EXTRA LIGHT (200) */
@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}


/* LIGHT (300) */
@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}


/* REGULAR (400) */
@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}


/* MEDIUM (500) */
@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}


/* SEMI BOLD (600) */
@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-SemiBold.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}


/* BOLD (700) */
@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}


/* EXTRA BOLD (800) */
@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Haskoy";
    src: url(../font/Haskoy-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}