/* ROUTEPLANNER */
.hp-route-planner-box {
    width: 100%;
    margin-top: -8vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7.5px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 2px 4px rgb(0,0,0);
    border-radius: 7.5px;
}

.hp-route-planner-title {
    display: flex;
    height: 8vh;
    font-family: 'Figtree', 'sans serif';
    font-size: 2rem;
    font-weight: 500;
    color: rgb(45,46,131);
    align-items: center;
    justify-content: center;
}

.hp-route-planner-box form {
    display: flex;
    margin-top: 5px;
    margin-bottom: 7.5px;
    justify-content: space-between;
}

.hp-route-planner-box input[type="text"] {
    width: 49%;
    font-family: 'Karla', 'sans serif';
    font-size: 1.05rem;
}

.hp-route-planner-box a.plan-trip {
    display: block;
    width: max-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    text-decoration: none;
    background-color: rgb(138,203,193);
    transition: all 0.3s ease-in-out;
}

.hp-route-planner-box a.plan-trip:hover {
    background-color: rgb(45,46,131);
    color: rgb(255,255,255);
}

@media screen and (max-width: 576px) {
    .hp-route-planner-title {
        font-size: 1.55rem;
    }

    .hp-route-planner-box form {
        flex-direction: column;
    }

    .hp-route-planner-box input[type="text"] {
        width: 100%;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .hp-route-planner-box a.plan-trip {
        font-size: 0.95rem;
    }
}