nav {
    z-index: 100;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    padding-left: 7.5%;
    padding-right: 7.5%;
    background-color: rgb(255,255,255);
    box-shadow: 0px 4px 8px rgb(100,100,100);
    align-items: center;
}

nav a img {
    display: flex;
    height: 6vh;
    align-items: center;
}

nav ul {
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

nav ul li {
    margin-left: 30px;
    margin-right: 30px;
}

nav ul li a {
    font-family: 'Figtree', 'sans serif';
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(45,46,131);
}

nav ul li a:hover {
    text-decoration: underline;
}

nav a.nav-book {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Figtree', 'sans serif';
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(138,203,193);
    border-radius: 7.5px;
    transition: all 0.3s ease-in-out;
}

nav a.nav-book:hover {
    background-color: rgb(45,46,131);
    color: rgb(255,255,255);
}

nav .mobile-nav {
    display: none;
}

:target {
    padding-top: 12vh;
    margin-top: -12vh;
}


@media screen and (max-width: 992px) {
    nav {
        display: flex;
        height: 7vh;
        justify-content: space-between;
    }

    nav a img {
        height: 5vh;
    }

    nav ul, nav a.nav-book {
        display: none;
    }

    nav .mobile-nav {
        display: unset;
    }

    nav span.mobile-nav-link {
        font-size: 25px;
        cursor: pointer;
    }

    .nav-overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
      
    .nav-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .nav-overlay a {
        padding: 8px;
        text-decoration: none;
        font-family: 'Figtree', 'sans serif';
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .nav-overlay a:hover, .nav-overlay a:focus {
        color: #f1f1f1;
    }
      
    .nav-overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 45px;
        font-size: 60px;
    }

    :target {
        padding-top: 9vh;
        margin-top: -9vh;
    }
}