nav {
    z-index: 100;
    position: fixed;
    width: 25%;
    height: 100%;
    padding-top: 15px;
    padding-left: 1.25%;
    padding-right: calc(1.25% + 7.5px);
    background-color: rgb(255,255,255);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    border-left: 7.5px solid rgb(138,203,193);
}

nav ul {
    margin-top: 25px;
    list-style-type: none;
}

nav ul li {
    margin-bottom: 15px;
}

nav ul li a {
    font-family: 'Figtree', 'sans serif';
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(45,46,131);
    transition: all 0.25s ease-in-out;
}

nav ul li a:hover {
    color: rgb(138,203,193);
}

nav .mobile-nav {
    display: none;
}

footer {
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    font-size: 0.9rem;
    background-color: rgb(191,191,191);
}

footer ul {
    display: flex;
    margin-top: 50px;
    margin-bottom: 25px;
    list-style-type: none;
    justify-content: space-between;
}

footer ul li a {
    font-size: 0.8rem;
}

footer .copyright-site {
    font-size: 0.825rem;
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        width: 100%;
        height: 7vh;
        padding-top: 1.25vh;
        padding-bottom: 1vh;
        padding-left: 5%;
        padding-right: 5%;
        height: max-content;
        border-left: none;
        justify-content: space-between;
        align-items: center;
    }

    nav a img {
        height: 5vh;
    }

    nav ul {
        display: none;
    }

    nav .mobile-nav {
        display: unset;
    }

    nav span.mobile-nav-link {
        font-size: 25px;
        cursor: pointer;
    }

    .nav-overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
      
    .nav-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .nav-overlay a {
        padding: 8px;
        text-decoration: none;
        font-family: 'Exo 2', 'sans serif';
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .nav-overlay a:hover, .nav-overlay a:focus {
        color: #f1f1f1;
    }
      
    .nav-overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 45px;
        font-size: 60px;
    }

    :target {
        padding-top: 9vh;
        margin-top: -9vh;
    }

    footer ul {
        flex-direction: column;
    }
}