/* POPULAIRE BESTEMMINGEN */
section#t-overview-laptop {
    width: 100%;
    padding-bottom: 30px;
    margin-top: 10px;
}

section#t-overview-mobile {
    width: 100%;
    padding-bottom: 30px;
    display: none;
}

.destination-flex {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

a.destination-box {
    width: 32%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-decoration: none;
}

a.destination-box .destination-box-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-bottom: 12.5px;
    font-size: 1.25rem;
    background-color: rgba(0,0,0,0.4);
    color: rgb(255,255,255);
    border-radius: 10px;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
}

a.destination-box:hover .destination-box-overlay {
    padding-bottom: 22.5px;
}

a.destination-box .destination-box-overlay p {
    font-family: 'Figtree', 'sans serif';
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(255,255,255);
}

a.destination-box .destination-box-overlay {
    font-size: 0.95rem;
}

@media screen and (max-width: 576px) {
    section#t-overview-laptop {
        display: none;
    }

    section#t-overview-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    a.destination-box {
        width: 48%;
    }
}


/* WELKOM */
section#t-welkom {
    display: flex;
    width: 100%;
    height: max-content;
    margin-bottom: 30px;
}

section#t-welkom .t-welkom-map {
    width: 35%;
    padding-right: 2%;
    padding-top: 25px;
    padding-bottom: 25px;
}

section#t-welkom .t-welkom-map iframe {
    border: none;
    border-radius: 15px;
}

section#t-welkom .t-welkom-text {
    width: 65%;
    padding-left: 2%;
}


/* BEZIENSWAARDIGHEDEN */
section#t-attractions {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(225,225,225);
}

section#t-attractions b {
    font-family: 'Figtree', 'sans serif';
    font-size: 2rem;
    font-weight: 500;
    color: rgb(45,46,131);
}

section#t-attractions .t-attractions-box {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

section#t-attractions .t-attractions-box .t-attractions-text {
    width: 58%;
    height: 100%;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

section#t-attractions .t-attractions-box .t-attractions-text b {
    font-family: 'Figtree', 'sans serif';
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(0,0,0);
}

section#t-attractions .t-attractions-box .t-attractions-photo {
    width: 38%;
    height: 100%;
}

section#t-attractions .t-attractions-box .t-attractions-photo img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* ACCOMMODATIE */
section#t-hotel {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

section#t-hotel .t-hotel-box {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: space-between;
}

section#t-hotel .t-hotel-box .t-hotel-text {
    width: 58%;
    height: 100%;
}

section#t-hotel .t-hotel-box .t-hotel-img {
    width: 38%;
    height: 100%;
}

section#t-hotel .t-hotel-box .t-hotel-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* TREINREIS */
section#t-trip {
    width: 100%;
    height: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(225,225,225);
}

section#t-trip .t-trip-box {
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

section#t-trip .t-trip-box .t-trip-box-img {
    width: 38%;
}

section#t-trip .t-trip-box .t-trip-box-img img {
    border-radius: 15px;
}


section#t-trip .t-trip-box .t-trip-box-text {
    width: 58%;
    height: 100%;
}

section#t-trip .t-trip-box .t-trip-box-text b {
    font-family: 'Figtree', 'sans serif';
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(0,0,0);
}

section#t-trip .t-trip-box .t-trip-box-text hr {
    border: none;
    height: 10px;
}


/* PRIJZEN EN INFO */
section#t-prices {
    padding-top: 30px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    section#t-welkom, section#t-trip {
        flex-direction: column;
    }
    
    section#t-welkom .t-welkom-text, section#t-trip .t-trip-box .t-trip-box-text {
        width: 100%;
        padding-left: 0px;
    }

    section#t-welkom .t-welkom-map, section#t-trip .t-trip-box .t-trip-box-img {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    section#t-attractions .t-attractions-box, section#t-hotel .t-hotel-box {
        flex-direction: column-reverse;
    }

    section#t-attractions .t-attractions-box .t-attractions-text, section#t-attractions .t-attractions-box .t-attractions-photo, section#t-hotel .t-hotel-box .t-hotel-img, section#t-hotel .t-hotel-box .t-hotel-text {
        width: 100%;
    }

    section#t-hotel .t-hotel-box .t-hotel-img {
        margin-bottom: 5px;
    }
}